body {
  background:url(/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.main-inner {
		background: #fff;
		opacity: 0.8;
}
//文章目录默认展开
.post-toc .nav .nav-child { display: block; }

.post-toc ol {  
  font-size : 13px;     
} 
