

//文章目录默认展开
.post-toc .nav .nav-child { display: block; }

.post-toc ol {  
  font-size : 13px;     
} 

//自定义回到顶部样式
/*
.back-to-top {
  left: 1500px;
  width: 70px;  //图片素材宽度
  height: 900px;  //图片素材高度
  top: -900px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("/images/scroll.png");

  //隐藏箭头图标
  > i {
    display: none;
  }

  &.back-to-top-on {
    bottom: unset;
    top: 100vh < (900px + 200px) ? calc( 100vh - 900px - 200px ) : 0px;
  }
}
*/